<p><i>Just Knit</i></p>
<nav>
    <a href="https://www.instagram.com/by_chance_studio/?hl=en"><img src="https://webpages.charlotte.edu/mchance7/itis3135/images/Instagram_logo_2016.svg.webp"></a>
</nav>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://webpages.charlotte.edu/mchance7/itis3135/images/html_validation.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://webpages.charlotte.edu/mchance7/itis3135/images/css_validation.png" alt="Valid CSS!">
     </a>
     <a href="https://wave.webaim.org/report#/" id="validation_link_disability"> <img style="border:0;width:88px;height:31px" src="https://webpages.charlotte.edu/mchance7/itis3135/images/button_validation_wcag.png" alt="Valid Disability/Accessibility Design!"> </a>
