body{
    background-color: #98FB98;
    font-family: Arial;
    text-align: center;
    margin: 0px auto;
    font-size: 150%;

}
main{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;

}
header{
    padding-top: 10%;
    font-family: Georgia;
}
a:hover{
    color: red;

}
a{
    color: black;
}
img{
    width: 50%;
    height: 50%
    
}
figure{
    
}
figcaption{
    text-align: center;
    font-style: italic;
}
h2{
    text-align: center;
}
ul{
    text-align: left;
    
}
table{
    
    width: 100%;
}
th, td {
    border: 1px solid ;
    text-align: left;
    padding: 8px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #F0EAD6;
}
form{
    background-color: navy;
    color: white;
    padding: 20px; 
    border-radius: 10px;

}
button, input{
    background-color: black;
    color: coral;
    
}
a{
    font-family: Arial;
    text-decoration: none;
}
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body{
        font-size: 150%;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body{
        font-size: 125%;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body{
        font-size: 100%;
    }
}
nav{
    padding-bottom: 10px;
}
