body{
    background-color: #98FB98;
    font-family: cursive;
    text-align: center;
}
header{
    padding-top: 10%;
    font-family: Georgia;
}
a:hover{
    color: red;

}
a{
    color: black;
}
img{
    width: 75%;
    
}
figure{
    
}
figcaption{
    text-align: center;
    font-style: italic;
}
h2{
    text-align: center;
}
ul{
    text-align: left;
}
table{
    
    width: 100%;
}
th, td {
    border: 1px solid ;
    text-align: left;
    padding: 8px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #F0EAD6;
}
form{
    background-color: navy;
    color: white;
    padding: 20px; 
    border-radius: 10px;

}
button, input{
    background-color: black;
    color: coral;
}
a{
    font-family: Arial;
    text-decoration: none;
}