<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/mchance7/">Charlotte.edu</a>
        🌲
        <a href="https://github.com/mnchance7/mnchance7.github.io">Github</a>
        🌲
        <a href="https://mnchance7.github.io/itis3135">Github.io</a>
        🌲
        <a href="https://www.freecodecamp.org/mchance7">freecodecamp</a>
        🌲
        <a href="https://www.codecademy.com/profiles/mchance7">codeacademy</a>
        🌲
        <a href="https://www.linkedin.com/in/malcolm-chance-6710a6251/">linkedin</a>
        

    </nav>
    <button type="button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(e => e.disabled = !e.disabled);">Toggle CSS</button>
    <p>Page Buit by <a href="chanceinnovationdesigns.com/">chanceinnovationdesigns</a>, <a href ="https://www.freecodecamp.org/certification/mchance7/responsive-web-design">Certified in RWD</a>, <a href="https://www.freecodecamp.org/certification/mchance7/javascript-algorithms-and-data-structures-v8">Certified in JS</a> &copy;2024</p>
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img style="border:0;width:88px;height:31px" src="https://webpages.charlotte.edu/mchance7/itis3135/images/html_validation.png" alt="Valid HTML!">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img style="border:0;width:88px;height:31px" src="https://webpages.charlotte.edu/mchance7/itis3135/images/css_validation.png" alt="Valid CSS!">
         </a>
         <a href="https://wave.webaim.org/report#/" id="validation_link_disability"> <img style="border:0;width:88px;height:31px" src="https://webpages.charlotte.edu/mchance7/itis3135/images/button_validation_wcag.png" alt="Valid Disability/Accessibility Design!"> </a>
         <p><i>"Grill in the depth"</i></p>
         

       <script>
          document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
          document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
          document.getElementById("validation_link_disability").setAttribute("href","https://wave.webaim.org/report#/" + location.href);
          document.getelementbyTagName("link").setAttribute("href", "");
       </script>
       
</footer>
