<header>
    <h1>Malcolm Chance's Manic Caterpillar 🐛 ITSC 3135</h1>
    
    <nav>
        <a href="./">Home</a>
        🌲
        <a href="introduction.html">Introduction</a>
        🌲
        <a href="contract.html">Contract</a>
        🌲
        <a href="tables.html">Tables</a>
        🌲
        <a href="form.html">Form</a>
        🌲
        <a href="website_evaluations.html">Website Evaluations</a>
        🌲
        <a href="firstscripts.html">First Scripts</a>
        🌲
        <a href="about.html">About</a>
        🌲
        <a href="byo_intro.html">BYO Intro</a>
        🌲
        <a href="calculator_try.html">Calculator</a>
        🌲
        <a href="calculator_fcc.html">Calculator FCC</a>
        🌲
        <a href="arrays.html">Arrays</a>
        🌲
        <a href="drawing.html">Drawing</a>
    </nav>
    <nav>
        <a href="stuff/theB&EST Web&Site.htm">CRAP Website</a>
        🌲
        <a href="client.html">Client Proposal</a>
        🌲
        <a href="hobby/index.html">Hobby Site</a>
        
    </nav>
</header>